<%- include('./blocks/top.ejs', {title: title}) %>


<body id="create-body" style="display: flex; justify-content: center;">
    <div id="create-card" style="width:34%">
        <h4>New book.</h4>
        <form action="/api/books/create" method="post" enctype="multipart/form-data">

            <label for="title">Title: </label>
            <input type="text" class="form-control" name="title">

            <label for="desc">Description: </label>
            <input type="text" class="form-control" name="desc">

            <label for="authors">Authors: </label>
            <input type="text" class="form-control" name="authors">

            <label for="favorite">Favorite: </label>
            <input type="text" class="form-control" name="favorite">

            <label for="fileCover">Cover: </label>
            <input type="text" class="form-control" name="fileCover">

            <label for="fileName">Filename: </label>
            <input type="text" class="form-control" name="fileName">

            <label for="fileBook">File: </label>
            <input type="file" class="form-control" name="book">

            <input type="submit" class="btn btn-primary" value="Click">

        </form>

<% include('./blocks/bottom.ejs') %>