<%- include('./blocks/top.ejs', {title: title}) %>
<body>


<% if (libr.length > 0) { %>
        <div class="pieces">
            <ol class="list-group list-group-numbered">
                <% libr.map((el, idx) => {  %>
                    <li class="list-group-item" style="display: flex; justify-content: space-between;"><%= el.title %><a href="/api/books/<%= el.id %>" style="text-decoration: none;">Info</a></li>
                <% }) %>
            </ol>
        </div>

<% } else { %>
    <h1 style="display: flex;
            justify-content: center;">The library is empty.</h1>
<% } %>

<%- include('./blocks/bottom.ejs') %>